/* root */

:root {
  --brand-color: #d23669;
  --text-color: #222;
  --bg-color: #fff;
  --outline-color: var(--brand-color);
  --font-family-text: "Arial", sans-serif;
  --font-family-heading: "Palatino Linotype", serif;
}

.dark-mode {
  --bg-color: #222;
  --text-color: #fff;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-text);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease,
    color 0.3s ease;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--brand-color);
}

*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px,
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 600px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-bottom: 56px;
}


/* SITE-HEADER */
.site-header {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.site-header-logo {
  margin-right: auto;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}

.site-header-light {
  margin-right: 16px;
}

/* AUTHOR */
.author {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.author-img {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  margin-right: 16px;
  object-fit: cover;
  border-radius: 50%;
}

.author-info {
  flex-grow: 1;

}

/* ARTICLES */
.articles {
  padding: 0;
  margin: 0;
  list-style: none;
}

.articles-item:not(:last-child) {
  margin-bottom: 32px;

}

.articles-title {
  margin: 0;
}

.article-link {
  text-decoration: none;
}

.articles-excerpt {
  margin: 0;
}




























@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}